@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --width-main-md: 1240px;

        --scroll-color: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.125));
        --colors-blue-default: light-dark(theme("colors.blue.500"), theme("colors.blue.400"));
        --colors-purple-default: light-dark(theme("colors.purple.500"), theme("colors.purple.400"));
        --colors-red-default: light-dark(theme("colors.red.500"), theme("colors.red.400"));
        --colors-yellow-default: light-dark(theme("colors.yellow.500"), theme("colors.yellow.400"));
        --colors-gray-default: light-dark(theme("colors.gray.300"), theme("colors.gray.600"));
        --text-default: light-dark(theme("colors.gray.900"), theme("colors.gray.200"));
        --text-emphasis: light-dark(theme("colors.blue.500"), theme("colors.blue.400"));
        --text-description: light-dark(theme("colors.gray.500"), theme("colors.gray.500"));
        --text-noimportance: light-dark(theme("colors.gray.400"), theme("colors.gray.600"));
        --bg-default: light-dark(#ffffff, theme("colors.gray.900"));
        --bg-default-hover: light-dark(theme("colors.gray.50"), theme("colors.gray.800"));
        --bg-emphasis: light-dark(theme("colors.gray.50"), theme("colors.gray.800"));
        --bg-emphasis-hover: light-dark(theme("colors.gray.100"), theme("colors.gray.700"));
        --bg-blue: light-dark(theme("colors.blue.50"), theme("colors.blue.900"));
        --bg-green: light-dark(theme("colors.green.50"), theme("colors.green.900"));
        --bg-red: light-dark(theme("colors.red.50"), theme("colors.red.900"));
        --bg-yellow: light-dark(theme("colors.yellow.50"), theme("colors.yellow.900"));
        --border-default: light-dark(theme("colors.gray.100"), theme("colors.gray.700"));
        --border-default-hover: light-dark(theme("colors.gray.200"), theme("colors.gray.600"));
        --border-emphasis: light-dark(theme("colors.gray.900"), theme("colors.gray.100"));
        --border-noimportance: light-dark(theme("colors.gray.100"), theme("colors.gray.700"));
        --border-blue: light-dark(theme("colors.blue.500"), theme("colors.blue.700"));
        --border-green: light-dark(theme("colors.green.500"), theme("colors.green.700"));
        --border-red: light-dark(theme("colors.red.500"), theme("colors.red.700"));
        --border-yellow: light-dark(theme("colors.yellow.500"), theme("colors.yellow.700"));
        --shadow-md-color: light-dark(rgba(0, 0, 0, .25), rgba(0, 0, 0, .875));
        --shadow-lg-color: light-dark(rgba(0, 0, 0, .25), rgba(0, 0, 0, .875));
        --shadow-xl-color: light-dark(rgba(0, 0, 0, .375), rgba(0, 0, 0, .875));
        --shadow-md: 0px 4px 8px -1px var(--shadow-md-color), 0px 0px 4px -3px var(--shadow-md-color);
        --shadow-lg: 0px 12px 16px -3px var(--shadow-lg-color), 0px 4px 0px -4px var(--shadow-lg-color);
        --shadow-xl: 0px 16px 28px -5px var(--shadow-xl-color), 0px 8px 4px -7px var(--shadow-xl-color);
        --shadow-none: 0 0 0 0 transparent;
        --fill-logo: light-dark(theme("colors.gray.900"), #ffffff);
        --stroke-default: light-dark(theme("colors.gray.500"), theme("colors.gray.500"));
        --stroke-default-hover: light-dark(theme("colors.gray.600"), theme("colors.gray.400"));

        --sthl-code-text: light-dark(theme("colors.gray.700"), theme("colors.gray.200"));
        --sthl-pre-bg: light-dark(theme("colors.gray.50"), theme("colors.gray.800"));
        --sthl-pre-border: light-dark(theme("colors.gray.100"), theme("colors.gray.700"));
        --sthl-comment: light-dark(theme("colors.gray.400"), theme("colors.gray.600"));
        --sthl-prolog: light-dark(theme("colors.purple.300"), theme("colors.blue.200"));
        --sthl-doctype: light-dark(theme("colors.purple.300"), theme("colors.blue.200"));
        --sthl-cdata: light-dark(theme("colors.purple.300"), theme("colors.blue.200"));
        --sthl-punctuation: light-dark(.75, .625);
        --sthl-namespace: light-dark(.75, .625);
        --sthl-property: light-dark(theme("colors.red.400"), theme("colors.blue.100"));
        --sthl-tag: light-dark(theme("colors.red.400"), theme("colors.purple.300"));
        --sthl-boolean: light-dark(theme("colors.red.300"), theme("colors.blue.300"));
        --sthl-number: light-dark(theme("colors.red.300"), theme("colors.blue.300"));
        --sthl-constant: light-dark(theme("colors.blue.400"), theme("colors.purple.300"));
        --sthl-symbol: light-dark(theme("colors.yellow.500"), theme("colors.yellow.400"));
        --sthl-selector: light-dark(theme("colors.blue.400"), theme("colors.purple.300"));
        --sthl-attr-name: light-dark(theme("colors.yellow.500"), theme("colors.yellow.400"));
        --sthl-string: light-dark(theme("colors.red.400"), theme("colors.blue.200"));
        --sthl-char: light-dark(theme("colors.red.400"), theme("colors.blue.200"));
        --sthl-unit: light-dark(theme("colors.red.400"), theme("colors.red.400"));
        --sthl-builtin: light-dark(theme("colors.yellow.500"), theme("colors.green.400"));
        --sthl-inserted: light-dark(theme("colors.green.600"), theme("colors.green.400"));
        --sthl-operator: light-dark(theme("colors.purple.300"), theme("colors.red.300"));
        --sthl-entity: light-dark(theme("colors.red.200"), theme("colors.red.200"));
        --sthl-url: light-dark(theme("colors.blue.300"), theme("colors.yellow.200"));
        --sthl-function: light-dark(theme("colors.blue.400"), theme("colors.yellow.400"));
        --sthl-variable: light-dark(theme("colors.yellow.500"), theme("colors.green.400"));
        --sthl-atrule: light-dark(theme("colors.purple.400"), theme("colors.red.400"));
        --sthl-attr-value: light-dark(theme("colors.blue.300"), theme("colors.green.600"));
        --sthl-keyword: light-dark(theme("colors.purple.400"), theme("colors.red.400"));
        --sthl-regex: light-dark(theme("colors.blue.400"), theme("colors.purple.400"));
        --sthl-important: light-dark(theme("colors.red.400"), theme("colors.red.400"));
        --sthl-deleted: light-dark(theme("colors.red.500"), theme("colors.red.600"));
        --sthl-coord: light-dark(theme("colors.gray.500"), theme("colors.gray.500"));
    }
    * {
        margin: 0;
        padding: 0;
    }
    body {
        @apply text-base text-default font-sans bg-default transition-[background-color] duration-default;
    }
    h1 {
        @apply text-2xl font-bold;
    }
    h2 {
        @apply text-xl font-bold;
    }
    h3 {
        @apply text-lg font-bold;
    }
    h4 {
        @apply text-md font-bold;
    }
    h5 {
        @apply text-base font-bold;
    }
    h6 {
        @apply text-sm font-bold;
    }
    ul {
        list-style: initial;
    }
    a {
        @apply text-blue no-underline cursor-pointer visited:text-purple hover:underline;
    }
    ::-webkit-scrollbar {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        border: 5px solid transparent;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: var(--scroll-color);
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

